/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*ヘッダー*/
header {
  width: 100%;
  margin-bottom: 30px;
  height: 50px;
  background-color: #1c1d3b;
}
  
.header_container{
  display: flex;
  justify-content: space-between;
  padding: 14px 30px;
  align-items: center;
  height: 50px;
  background-color: #1c1d3b;
}

.logo{
  width: 221px;
  box-sizing: border-box;
}

.icon_image{
  width: 45px;
  margin-right: 15px;
}

.header_icon_and_username{
  display: flex;
  align-items: center;
}


.signin_link1, .signup_link1{
  width: 75px;
  height: 32px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin_link1{
  background-color: #ffff;
  color: #000000;
  border: #ffff;
  margin-right: 10px;
}

.signup_link1{
  background-color: #ff7757;
  color: #ffff;
  border: #ff7757;
}

.signout_link{
  background-color: #ffff;
  color: #000000;
  border: #000000;
}

.header_username{
  color: #ffff;
  font-size: 18px;
}

.account_setting_link{
  color: aqua;
}



/*フッター*/
footer{
  width: 100%;
  padding: 15px;
  height: 150px;
  background-color: #1c1d3b;
}