/*全体*/
body{
  margin: 0;
}

/*ヘッダー*/
header {
  width: 100%;
  margin-bottom: 30px;
  height: 70px;
  background-color: #1c1d3b;
}

.header_container{
  display: flex;
  justify-content: space-between;
  padding: 14px;
  align-items: center;
}

.logo{
  width: 221px;
  box-sizing: border-box;
}

.icon_image{
  width: 45px;
}

.header_icon_and_username{
    display: flex;
}


.signin_link1, .signup_link1{
  width: 75px;
  height: 32px;
  text-decoration: none;
  border-radius: 2px;
  font-weight: 700;
}

.signin_link1{
  background-color: #ffff;
  color: #000000;
  border: #ffff;
  margin-right: 10px;
}

.signup_link1{
  background-color: #ff7757;
  color: #ffff;
  border: #ff7757;
}

.signout_link{
  background-color: #ffff;
  color: #000000;
  border: #000000;
}

/*フッター*/
footer{
  width: 100%;
  padding: 15px;
  margin-top: 30px;
  height: 150px;
  background-color: #1c1d3b;
}
  